<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Busqueda</title>
</head>

<body>
    <header class="contenedor-barra d-flex jc-sb">
        <div class="ai-center txt-centrado">
            <a href="#">
                <h1 id="logo">Ge<span>Soc</span></h1>
            </a>
        </div>
        <nav class="navbar">
            <ul class="d-flex jc-sb contenido-navbar">
                <li><i class="fas fa-envelope"></i></li>
                <li><i class="fas fa-user"></i></li>
                <li><i class="fas fa-ellipsis-v"></i></li>
            </ul>
        </nav>
    </header>

    <main class="seccion">
        <h1>Busqueda de Egreso</h1>
        <!--Copiar aqui-->
        <section class="burbuja">
            <div>
                <h2>Criterios</h2>
                <select name="criterio" id="criterio">
                        <option value="" disabled selected>-- Seleccione --</option>
                        <option value="">Economico</option>
                        <option value="">Proyecto</option>
                        <option value="">Alcance</option>
                </select>
                <br>
            </div>

            <div>
                <h4> Seleccione Categorias</h4>
            </div>
            <!--Categorias seleccionadas-->
            <div class="contenedor-categorias">
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria fw-600">
                    <p>unaCategoria</p>
                </div>
            </div>
            <hr>
            <div>
                <h4>Categorias Seleccionadas</h4>
            </div>
            <!--Categorias seleccionadas-->
            <div class="contenedor-categorias">
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
                <div class="burbuja contenido-categoria-seleccionada fw-600">
                    <p>unaCategoria</p>
                </div>
            </div>
            <hr>
            <h2>Resultados</h2>
            <table class="txt-centrado tabla">
                <thead class="th-principal">
                    <tr>
                        <th>#ID</th>
                        <th>Generado Por</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody class="tabla-detalle">
                    <tr>
                        <td>9989781</td>
                        <td>Fernando</td>
                        <td>12-12-2012</td>
                        <td>9999999</td>
                    </tr>
                    <tr>
                        <td>9989781</td>
                        <td>Fernando</td>
                        <td>12-12-2012</td>
                        <td>9999999</td>
                    </tr>
                    <tr>
                        <td>9989781</td>
                        <td>Fernando</td>
                        <td>12-12-2012</td>
                        <td>9999999</td>
                    </tr>
                    <tr>
                        <td>9989781</td>
                        <td>Fernando</td>
                        <td>12-12-2012</td>
                        <td>9999999</td>
                    </tr>
                    <tr>
                        <td>9989781</td>
                        <td>Fernando</td>
                        <td>12-12-2012</td>
                        <td>9999999</td>
                    </tr>
                    <tr>
                        <td>9989781</td>
                        <td>Fernando</td>
                        <td>12-12-2012</td>
                        <td>9999999</td>
                    </tr>
                </tbody>
            </table>

            <!--Copiar aqui-->
            <hr>
            <article id="egreso" class="seccion">
                <header>
                    <h3>Egreso #12457</h3>
                </header>

                <div class="seccion">
                    <section class="d-flex jc-sb">
                        <p>Generado Por: Fernando</p>
                        <p>Fecha: 99/99/9999</p>
                    </section>
                    <section class="d-flex jc-sb">
                        <p>Monto total:5000</p>
                        <p>Comprobante: Ticket</p>
                    </section>
                </div>



                <table class="txt-centrado tabla">
                    <caption>Servicios/Productos</caption>
                    <thead class="th-principal">
                        <tr>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody class="tabla-detalle">
                        <tr>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </td>
                        </tr>
                    </tbody>
                </table>


            </article>
        </section>


    </main>




</body>

</html>