<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/gsicon.png"/>

</head>

<body class="fondo-img d-flex  txt-shadow">
    <div id="loader">
        <div class="loader"></div>
    </div>
    <section class=" ai-center d-flex jc-se m-auto contenedor  bg-secundario">
        <!-- Logo -->
        <div class="ai-center txt-centrado m-auto contenedor-titulo">
            <a href="#">
                <h1 id="logo" class="m-0 fw-700">Ge<span>Soc</span></h1>
            </a>
        </div>
        <!-- Form-login -->
        <div class="ai-center d-flex jc-sb m-auto">
            <form action="" method="POST" class="contenido-login d-flex  f-dir-col jc-sb">
                <i id="titulo" class="fas fa-user-circle fw-300 txt-centrado"></i>
                <div class="entrada-form d-flex">
                    <i class="fas fa-user"></i>
                    <input type="text" id="usuario" name="usuario" placeholder="Ingrese usuario...">
                </div>
                <div class="entrada-form d-flex">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="password" name="password" placeholder="Ingrese contraseña...">
                </div>
                <input type="submit" name="Ingresar" id="Ingresar" value="Ingresar" class="btn btn-login">

            </form>
        </div>
    </section>
    <script type="module" src="js/generales/modal.js"></script>
    <script type="module" src="js/loader.js"></script>
    {{#if loginFailed}}
    <script type="module" src="js/loginResult.js"></script>
    {{/if}}
</body>

</html>