<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="/img/gsicon.png"/>
    <title>Bandeja de Mensajes</title>
</head>

<body>
<div id="loader">
    <div class="loader"></div>
</div>
<header class="contenedor-barra d-flex jc-sb">
    <!--Menu Hamb -->
    <button id="btn-menu"><i class="fas fa-bars"></i></button>
    <nav id="navbar" class="navbar">
        <ul class="d-flex f-dir-col contenido-navbar">
            <div class="d-flex jc-sb ">
                <h2 class="txt-centrado">Menu</h2>
                <button id="btn-close" class="btn-primario"><i class="fas fa-times"></i></button>
            </div>
            <li><a href="usuario"><i class="fas fa-user"></i>Panel Personal</a></li>
            <li><a href="ingreso"><i class="fas fa-file-invoice-dollar"></i>Nuevo Ingreso</a></li>
            <li><a href="egreso"><i class="fas fa-file-invoice"></i>Nuevo Egreso</a></li>
            <li><a href="presupuesto"><i class="fas fa-comments-dollar"></i>Nuevo Presupuesto</a></li>
            <li><a href="busquedaOperacion"><i class="fas fa-file-import"></i>Buscar Operacion</a></li>
            <li><a href="vinculacion" ><i class="fas fa-link"></i>Vincular</a></li>
            <li><a href="logout" id="logoutButton"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a></li>
        </ul>
    </nav>
    <!--Logo -->
    <div class="ai-center txt-centrado">
        <a href="dashboard">
            <h1 id="logo" class="m-0 fw-700">Ge<span>Soc</span></h1>
        </a>
    </div>
</header>
<!--Filtros de busqueda-->
<section class="seccion">
    <h1> Resultado de Validaciones </h1>
    <div class="seccion">
        <p class="fw-700">Filtrar Por</p><br>
        <div class="ai-center d-flex jc-sb">
            <div>
                <label for="todas">Ver todas
                    <input type="checkbox" name="todas" id="todas" value="todas" >
                </label>
                <label for="visto">Vistos
                    <input type="checkbox" name="visto" id="visto" value="visto" >
                </label>
                <label for="no-visto">No Vistos
                    <input type="checkbox" name="no-visto" id="no-visto" value="no-visto">
                </label>
            </div>
            <div>
                <label for="validas">Validas
                    <input type="checkbox" name="validas" id="validas" value="validas" >
                </label>
                <label for="invalidas">Invalidas
                    <input type="checkbox" name="invalidas" id="invalidas" value="invalidas">
                </label>
            </div>
        </div>
    </div>
    <hr>
</section>
<!--Mensajes-->
<main class="seccion">
    <!-- Nav paginas-->
    <nav class="d-flex nav-tabla">
        <p id="cant-paginas"></p>
        <a id="anterior" href="#"><i class="far fa-arrow-alt-circle-left"></i></a>
        <a id="siguiente" href="#"><i class="far fa-arrow-alt-circle-right"></i></a>
    </nav>
    <!-- Tabla Mensajes-->
    <p id="no-mensajes"><em>No tienes mensajes, puedes seleccionarte como revisor de una operacion de egreso en la seccion busqueda</em></p>
    <table class="txt-centrado tabla tabla-bandeja">
        <tbody id="seccion-mensajes">
        </tbody>
    </table>
    <hr>
    <!--Mensaje En detalle-->
    <article id="mensaje-detalle" class="seccion">
    </article>
</main>
</body>
<script type="module" src="js/bandejaMensaje.js"></script>
<script type="module" src="js/generales.js"></script>
<script type="module" src="js/loader.js"></script>
</html>