<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeSoc</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="bg-primario">
    <header class=" contenedor-header bg-secundario  d-flex jc-sb">
        <div class="contenedor-logo">
            <h1 id="logo" class="m-0 fw-700"> Ge<span>Soc</span></h1>
        </div>
        <ul class="contenedor-menu d-flex jc-se">
            <li><a href="#"><i class="far fa-envelope"></i></a></li>
            <li><a href="#"><i class="fas fa-user"></i></a></li>
            <li><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </header>

    <section class="seccion">
        <div class="contenedor-cartas">
            <!--Carta Egreso-->
            <div class="carta">
                <img src="img/LoginFondo.jpg" alt="img-egreso">
                <div class="contenido-carta txt-centrado">
                    <h4>Realizar Egreso</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit sit nostrum perferendis, velit tempore ullam eaque eius minima?.</p>
                    <button class="btn btn-primario"><a href="#">Ir a Egresos</a></button>
                </div>
            </div>
            <!--Carta Ingreso-->
            <div class="carta">
                <img src="img/ingreso1.jpg" alt="img-ingreso">
                <div class="contenido-carta txt-centrado">
                    <h4>Realizar Ingreso</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit sit nostrum perferendis, velit tempore ullam eaque eius minima?.</p>
                    <button class="btn btn-primario"><a href="#">Ir a Ingresos</a></button>
                </div>
            </div>
            <!--Carta Asociar Presupuesto-->
            <div class="carta">
                <img src="img/presupuesto.jpg" alt="img-presupuesto">
                <div class="contenido-carta txt-centrado">
                    <h4>Realizar Prespuesto</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit sit nostrum perferendis, velit tempore ullam eaque eius minima?.</p>
                    <button class="btn btn-primario"><a href="#">Ir a Presupuesto</a></button>
                </div>
            </div>
        </div>
    </section>

</body>

</html>