html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: #555555;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

p,
label,
input,
th,
textarea {
    font-family: 'Montserrat', sans-serif;
}

label,
input,
select,
textarea {
    font-size: 1.4rem;
    padding: 0.5rem;
}

label {
    font-weight: bold;
}

p {
    font-size: 1.4rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

table {
    border-collapse: collapse;
}

hr {
    margin: 3rem auto;
    width: 80%;
    border-width: 1px;
    border-style: solid;
    border-color: #555555;
}

i {
    color: #555555;
    font-size: 2.4rem;
    margin: 0 2rem;
}

tbody tr {
    cursor: pointer;
}

main {
    z-index: 3;
}


/*
    FUENTES ALTERNATIVA A VER:
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    Paleta=[#1b1c25,#1f4068,#ebecf1,#206a5d]
    Cuadros=[#cedebd]    
    */


/* Utils*/

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.jc-sb {
    justify-content: space-between;
}

.jc-se {
    justify-content: space-evenly;
}

.ai-center {
    align-items: center;
}

.header {
    padding: 2rem;
    height: 100%;
}

.txt-centrado {
    text-align: center;
}

.txt-left {
    text-align:left;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.bg-primario {
    /* background-color: #1b1c25;*/
    background-color: #015B81;
}

.bg-secundario {
    /* background: linear-gradient(to right, rgba(31,64,104,1) 0%, rgba(31,64,104,1) 33%, rgba(27,28,37,1) 100%);*/
    background: #393e46;
    /* background-color: #f57b51;*/
    /*background-color: #1f4068;*/
}

.bg-terciario {
    background-color: #f6eedf;
}

.bg-cuarto {
    background-color: #d1cebd;
}

.float-r {
    float: right;
}

.f-dir-col {
    flex-direction: column;
}

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0;
}

.seccion {
    margin: 4rem auto;
    width: 80%;
}


/*Botones*/

.btn {
    margin: 1rem 0;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 4rem;
    text-align: center;
    border-radius: 0.6rem;
    border: 1px solid;
}

.btn:hover {
    cursor: pointer;
}

.btn-login {
    width: fit-content;
    align-self: center;
    background-color: #d63447;
    color: white;
    font-weight: 700;
    transition: background-color 1s;
}

.btn-primario {
    background-color: #027DB4;
    color: white;
    font-weight: 700;
    transition: background-color 1s;
}

.btn-primario:hover {
    background-color: #808080;
    transition: background-color 1s;
}

.btn-secundario {
    padding: 0.5rem 2rem;
    background-color: transparent;
    font-size: 1.4rem;
    color: #0187C0;
    font-weight: 700;
    transition: color 1s, background-color 1s;
}

.btn-danger {
    padding: 0.5rem 2rem;
    background-color: transparent;
    font-size: 1.4rem;
    color: #d63447;
    font-weight: 700;
    transition: color 1s, background-color 1s;
}

.btn-secundario:hover,
.btn-icono:hover,
.btn-danger:hover {
    color: #555555;
    background-color: #e7e7e7;
    transition: color 1s, background-color 1s;
}

.btn-formulario {
    margin-left: 1rem;
    align-self: flex-end;
    text-align: initial;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 700;
    color: #0187C0;
    transition: color 1s, background-color 1s;
}

.btn-formulario:hover {
    color: #555555;
    background-color: #e7e7e7;
    transition: color 1s, background-color 1s;
}


/* Logo*/

#logo {
    color: whitesmoke;
}

#logo span {
    color: #d63447;
}


/** Login **/

.fondo-img {
    background-image: url("../img/tax-468440_1280.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/**Imagen**/

.contenedor {
    min-width: 75%;
    border-style: solid;
    border-width: 1px;
    border-radius: 2rem;
    border-color: black;
    opacity: .95;
}

.contenedor-titulo {
    border-style: inset;
    padding: 9rem 10rem;
    border-width: 0 1px 0 0;
    border-color: white;
}

.contenedor-titulo a h1 {
    text-decoration: none;
    font-size: 6rem;
}


/*Form*/

.contenido-login {
    padding: 3.5rem;
    color: #d63447;
}

#titulo {
    font-size: 8rem;
    margin-bottom: 3rem;
}

.entrada-form {
    width: 45rem;
    margin: 2rem;
}

.entrada-form input {
    border-width: 0 0 1px 0;
    background-color: transparent;
    font-size: 1.8rem;
    color: white;
    width: 80%;
}

.contenido-login i {
    color: white;
    font-size: 2.8rem;
    margin: 0 1rem;
}


/* Dashboard*/

.contenedor-header {
    padding: 1rem 3rem;
    margin: 0 auto;
}

.contenedor-menu li {
    margin: 0 1rem;
}

.contenedor-menu li a {
    color: white;
    font-size: 2.1rem;
    font-weight: 700;
}

.contenedor-cartas {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.carta {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    background-color: white;
    color: black;
    box-shadow: 4px 6px 10px #555555;
}

.carta img {
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.contenido-carta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contenido-carta h4 {
    height: 2rem;
}


/* Barra superior*/

.contenedor-barra {
    height: 7rem;
    background-color: #015B81;
    padding: 1rem 5rem;
    box-shadow: 5px 2px 5px #555555;
    align-items: center;
}

.navbar {
    position: fixed;
    left: -300%;
    top: 0;
    color: white;
    width: max-content;
    height: 100vh;
    background-color: rgba(85, 85, 85, 0.95);
    transition: left 3 ease-in;
    z-index: 1;
}

.navbar div {
    padding: 0 0 0 4rem;
    border-bottom: 2px solid #8da2a7;
}

.navbar-on {
    left: 0;
    transition: left 3 ease-in;
}

.contenido-navbar {
    display: block;
    width: 100%;
    padding: 0;
}

.navbar a {
    display: block;
    padding: 2rem 5rem 2rem 1.75rem;
    border-bottom: 2px solid #6e7c8b;
}

#btn-menu i,
.navbar a,
.navbar .fas {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.contenido-navbar li:last-child {
    background-color: #ff3149;
}

.contenido-navbar li:hover {
    background-color: #0098db;
}

#btn-menu {
    background-color: #555555;
    padding: .3rem;
    border: 1px solid #5a567f;
    color: #ffffff;
    opacity: 1;
}

#btn-menu:hover,
#btn-menu i:hover {
    opacity: .6;
    cursor: pointer;
}

#btn-close {
    background-color: transparent;
    border: none;
}

#btn-close:hover,
#btn-close .fas:hover {
    opacity: .8;
}

#btn-close:focus {
    display: none;
}


/*Formularios de ingreso*/

.burbuja {
    border: 2px #555555 solid;
    border-radius: 2rem;
    margin: 2rem 0;
    padding: 0 3rem;
}

fieldset.burbuja {
    padding: 2.5rem;
}

form div.burbuja {
    cursor: pointer;
}

.contenedor-entrada>input:not([type="button"]),
.burbuja select {
    width: 418px;
    margin: 1rem 0;
}

.contenedor-entrada {
    padding-left: 20%;
    min-width: 47rem;
    vertical-align: bottom;
}

.burbuja h3 {
    margin: 0 1rem;
    align-self: center;
}

.contenedor-limitado {
    max-width: 60%;
}

.contenido-direccion {
    margin: 0 2rem 0 0;
}

#descripcion {
    width: 418px;
    height: 10rem;
    resize: none;
}


/*Tabla*/

.th-principal th {
    color: white;
    height: 3.5rem;
}

.tabla {
    width: 100%;
    font-size: 1.6rem;
}

tr {
    height: 3rem;
}

.tabla-detalle th,
.tabla-detalle td {
    border: 1px solid #808080;
}

.tabla-detalle tr:nth-child(odd),
#seccion-mensajes tr:nth-child(odd) {
    background-color: #D6E6EC;
}

.nav-tabla {
    float: right;
}

.nav-tabla a {
    color: #808080;
    justify-content: end;
}

.seleccionado {
    background-color: #81D3F8;
    font-weight: 600;
}


/*Categorias*/

.seccion-categorias {
    margin: 2rem;
}

.categoria {
    margin: .2rem;
    padding: .4rem .6rem;
    color: #002e15;
    border: 1px solid #002e15;
    background-color: #d6ece0;
    transition: color 1s, border-color 1s, background-color 1s;
}

.contenedor-categorias {
    flex-wrap: wrap;
    flex-flow: wrap;
}

.categoria-seleccionada {
    margin: .2rem;
    padding: .4rem .6rem;
    color: #015B81;
    background-color: #e7e7e7;
    border: 1px solid #015B81;
    transition: color 1s, border-color 1s, background-color 1s;
}

.categoria p,
.categoria-seleccionada p {
    margin: 0;
}

.categoria:hover,
.categoria-seleccionada:hover {
    color: #555555;
    border-color: #555555;
    background-color: #ffffff;
    transition: color 1s, border-color 1s, background-color 1s;
    cursor: pointer;
}


/*Buscadores*/

#busqueda {
    width: 40%;
    padding: 0.5rem;
    align-self: flex-end;
}

.contenedor-filtrado {
    flex-basis: 40%;
}

.contenedor-filtrado p {
    margin-bottom: 0;
}

.contenedor-filtrado label {
    margin: 0 1.2rem 0 0.2rem;
}


/*Modal*/

.modal-contenido {
    position: fixed;
    bottom: 50%;
    background-color: #fefefe;
    width: 100%;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}


/*Bandeja Mensajes*/

.invalido {
    color: #f04b5e;
}

.valido {
    color: #559152;
}

.tabla-bandeja th,
#seccion-mensajes td {
    border: solid #808080;
    border-width: 1px 0 1px 0;
    padding: 2rem;
}

#seccion-mensajes tr:hover {
    background-color: #ededed;
}

#seccion-mensajes tr:target {
    background-color: red;
}

#mensaje-detalle p span {
    font-weight: 700;
}

#mensaje-detalle h3 {
    text-decoration: underline;
}

#ver-comprobante {
    text-decoration: underline;
    color: #015B81;
    font-weight: 700;
}


/*Tooltip*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 50rem;
    color: #fff;
    border-radius: 6px;
    padding: 5px 5rem;
    position: absolute;
    z-index: 1;
    bottom: -30%;
    left: 120%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 40%;
    left: -2%;
    margin-left: 2px;
    border-width: 5px;
    border-style: solid;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext-valida {
    background-color: #559152;
}

.tooltiptext-valida::after {
    border-color: transparent #559152 transparent transparent;
}

.tooltiptext-invalida {
    background-color: #f04b5e;
}

.tooltiptext-invalida::after {
    border-color: transparent #f04b5e transparent transparent;
}